*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding:  0;
}

body {
  background-color: #454545;
  color:  #fff;
}

.container {
  max-width:  1200px;
  margin: 0 auto;
  text-align:  center;
  padding-top:  150px;
}

.clue {
  visibility: hidden;
}

button {
  font-size:  30px;
  padding: 22px;
  margin: 5px;
  color:  #fff;
  background-color: #252525;
  border: 1px solid #fff;
  border-radius: 2px;
  cursor: pointer;
}

button:hover {
  color: #252525;
  background-color: #fff;
}

.guess-green {
  background-color: green;
  color: #fff;
}

.guess-red {
  background-color: red;
  color: #fff;
}

p {
  margin: 15px 0;
  font-size:  25px;
}


.word span {
  padding:  10px;
}